
@charset "US-ASCII";
* {
    color: #444;
    float: left;
    font-family: Lato,Helvetica,sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 18px;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
a {
    text-decoration: none;
    display: block;
    font-weight: 300;
    cursor: pointer;
}
a.button {
    line-height: 22px;
    background-color: #008000;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    color: #fff;
    padding: 5px 20px;
    margin-right: 10px;
}
a.button i {
    line-height: 22px;
    margin-right: 10px;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    margin: 0 0 10px;
    width: 100%;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 32px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 24px;
}
h5 {
    font-size: 20px;
}
p {
    margin: 0 0 10px;
}
.upper {
    text-transform: uppercase;
}
.hght {
    color: #79BBEA;
    font-weight: 400;
}
.cntn {
    width: 100%;
}
.hdr {
    background-color: #f6f6f6;
    height: 60px;
    padding: 20px 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}
.logo {
    background-color: #008000;
    color: #fff;
    border-radius: 5px;
    height: 58px;
    line-height: 58px;
    text-align: center;
    text-decoration: none;
    text-transform: lowercase;
    width: 150px;
    font-family: Raleway;
    font-weight: 700;
    font-size: 30px;
    text-transform: capitalize;
}
.mnu {
    float: right;
}
.mnu a {
    line-height: 30px;
    margin-left: 5px;
    padding: 15px 0 15px 10px;
    color: #666;
}
.mnu a:hover {
    color: #000;
}
.mnu a:first-child {
    margin-left: 0;
}
.mnu a i {
    display: none;
}
.bdy {
    margin: 0 0 -60px; /* margin-bottom is equal to negative .ftr height */
    min-height: 100vh !important;
    padding: 0;
    width: 100%;
}
.bdyt {
    width: 100%;
    height: 101px; /* equal to .hdr height */
}
.bdyc {
    padding: 40px 0;
    width: 100%;
    margin-bottom: 60px; /* equal to .ftr height */
}
.ftr {
    width: 100%;
    height: 20px;
    padding: 20px 0;
    background-color: #dedede;
}
.ftr * {
    color: #fff;
}
.ftr a {
    color: #ccc;
    clear: left;
    font-size: 14px;
}
.ftr a:hover {
    color: #fff;
}
.vp {
    display: table;
    float: none;
    margin: 0 auto;
    width: 1080px;
}
.c1 {
    width: 100%;
}
.c2 {
    width: 50%;
}
.c3 {
    width: 33%;
}
.c3.md {
    width: 34%;
}
.rg {
    float: right;
}
.mtp {
    margin-top: 30px;
}
.box {
    background-color: #fff;
    border: 2px solid #ddd;
    height: 96px;
    width: 96px;
}
.box.start {
    background-color: #008000;
}
.box.bussy {
    background-color: #000;
}
.box.exit {
    background-color: #2b59e2;
}